.design_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.design_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.design_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.design_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.design_item h3{
    margin: 1.2rem 0 2rem;
}

.design_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*media queries(Medium size)*/
@media screen and (max-width: 1024px) {
   .design_container{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
   }
}

/*media queries(Small size)*/
@media screen and (max-width: 600px) {
    .design_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}



