.design_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.design_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.design_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.design_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.design_item h3{
    margin: 1.2rem 0 0.2rem;
    max-width: 195px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.design_item-cta{
    display: flex;
    /* gap: 1rem; */
    justify-content: center;
    margin-bottom: 1rem;
}

.tec_name_container{
    padding-bottom: 1.2rem;
}

.tec_name_header{
    color: aquamarine;
    font-style: italic;
}

.tec_name{
    margin-right: 0.5rem;
    background-color: green;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.tec_name:first-child{
    margin-left: 0rem !important;
}

.disableTooltip,
.hideTitle,
.demo-tag-hide{
    display: none;
}

.demo-tag-display{
    background-color: red;
    padding: 10px;
    border-radius: 3px;
}
/*media queries(Medium size)*/
@media screen and (max-width: 1024px) {
   .design_container{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
   }
}

/*media queries(Small size)*/
@media screen and (max-width: 600px) {
    .design_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}



